// import the base SCSS mixins, variables etc for use in all your components
@import './styles/utils/base';



// TODO: replace the following styles once you start!
.header{
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;;
}

.logo{
  height:200px;

}

.hero__title{
  font-size: 4rem;
}